@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.hubballi-regular {
  font-family: "Hubballi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
    font-family: "Hubballi", sans-serif;
  font-weight: 400;
  font-style: normal;
}